<% layout('layouts/boilerplate')%>
<body class="d-flex sticky-top text-center text-white bg-dark">
  <div class="cover-container d-flex w-80 h-20 p-1 mx-auto flex-column">
    <header class="mb-auto">
      <!-- <link rel="stylesheet" href="/stylesheets/style.css" /> -->
      <link rel="stylesheet" href="/stylesheets/style.css" />
      <div>
        <nav class="nav nav-masthead justify-content-center float-md-right">
          <a class="nav-link" aria-current="page" href="/">Home</a>
          <a class="nav-link active" href="/posts">Posts</a>
          <a class="nav-link" href="/postits">PostItDrawings</a>
          <a class="nav-link" href="/portfolio">Portfolio</a>
          <% if(!currentUser) { %>
          <a class="nav-link" href="/login">Login</a>
          <a class="nav-link" href="/register">Register</a>
          <% } else { %>
          <a class="nav-link" href="/logout">Logout</a>
          <% } %>
        </nav>
      </div>
    </header>
  </div>
</body>
<div class="row">
  <h1 class="text-center">Edit Post</h1>
  <div class="col-6 offset-3">
    <form
      action="/posts/<%=post._id%>?_method=PUT"
      method="POST"
      novalidate
      class="validated-form"
      enctype="multipart/form-data"
    >
      <div class="mb-3 text-white">
        <label class="form-label" for="image">Add Images</label>
        <input
          type="file"
          name="image"
          id="image"
          multiple
          class="form-control"
        />
      </div>
      <div class="mb-3 text-white">
        <label class="form-label" for="date">Date</label>
        <input
          class="form-control"
          type="text"
          id="date"
          name="post[date]"
          value="<%=post.date%>"
          required
        />
        <div class="invalid-feedback">Please provide a valid date.</div>
      </div>
      <div class="mb-3 text-white">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="post[title]"
          value="<%=post.title%>"
          required
        />
        <div class="invalid-feedback">Please provide a valid title.</div>
      </div>
      <div class="mb-3 text-white">
        <label class="form-label" for="post">Post</label>
        <textarea class="form-control" id="post" name="post[post]" required>
<%=post.post%></textarea
        >
        <div class="invalid-feedback">Please provide a valid post content.</div>
      </div>
      <div class="mb-3">
        <% post.images.forEach(function(img, i){ %>
        <img src="<%=img.thumbnail %>" class="img-thumbnail" alt="" />
        <div class="form-check-inline">
          <input
            type="checkbox"
            id="image-<%=i%>"
            name="deleteImages[]"
            value="<%=img.filename  %>"
          />
        </div>
        <label for="image-<%=i%>">Delete?</label>
        <% }) %>
      </div>
      <div class="mb-3">
        <button class="btn btn-primary">Update Post</button>
        <a href="/posts/<%=post._id%>" class="btn btn-secondary"
          >← Back to Post</a
        >
      </div>
    </form>
  </div>
</div>
